.pizza {position:relative;}
    .child {position:relative;left:100px;}

        .pizzarow1 {position:relative;
        top:120px;
        left:150px;}

        .pizzarow1obj1 {position:absolute;
        left:0px;}
        .pizzarow1obj2 {position:absolute;
        left:30px;}
        .pizzarow1obj3 {position:absolute;
        left:60px;}
        .pizzarow1obj4 {position:absolute;
        left:90px;}
        .pizzarow1obj5 {position:absolute;
        left:120px;}
        .pizzarow1obj6 {position:absolute;
        left:150px;}
        .pizzarow1obj7 {position:absolute;
        left:180px;}
        .pizzarow1obj8 {position:absolute;
        left:210px;}
        .pizzarow1obj9 {position:absolute;
        left:240px;}
            


        .pizzarow2 {position:relative;
        top:150px;
        left:90px;}

        .pizzarow2obj1 {position:absolute;
        left:0px;}
        .pizzarow2obj2 {position:absolute;
        left:30px;}
        .pizzarow2obj3 {position:absolute;
        left:60px;}
        .pizzarow2obj4 {position:absolute;
        left:90px;}
        .pizzarow2obj5 {position:absolute;
        left:120px;}
        .pizzarow2obj6 {position:absolute;
        left:150px;}
        .pizzarow2obj7 {position:absolute;
        left:180px;}
        .pizzarow2obj8 {position:absolute;
        left:210px;}
        .pizzarow2obj9 {position:absolute;
        left:240px;}
        .pizzarow2obj10 {position:absolute;
        left:270px;}
        .pizzarow2obj11 {position:absolute;
        left:300px;}
            
        .pizzarow3 {position:relative;
        top:180px;
        left:30px;}

        .pizzarow3obj1 {position:absolute;
        left:0px;}
        .pizzarow3obj2 {position:absolute;
        left:30px;}
        .pizzarow3obj3 {position:absolute;
        left:60px;}
        .pizzarow3obj4 {position:absolute;
        left:90px;}
        .pizzarow3obj5 {position:absolute;
        left:120px;}
        .pizzarow3obj6 {position:absolute;
        left:150px;}
        .pizzarow3obj7 {position:absolute;
        left:180px;}
        .pizzarow3obj8 {position:absolute;
        left:210px;}
        .pizzarow3obj9 {position:absolute;
        left:240px;}
        .pizzarow3obj10 {position:absolute;
        left:270px;}
        .pizzarow3obj11 {position:absolute;
        left:300px;}
        .pizzarow3obj12 {position:absolute;
        left:330px;}
        .pizzarow3obj13 {position:absolute;
        left:360px;}
            

        .pizzarow4 {position:relative;
        top:210px;
        left:0px;}

        .pizzarow4obj1 {position:absolute;
        left:0px;}
        .pizzarow4obj2 {position:absolute;
        left:30px;}
        .pizzarow4obj3 {position:absolute;
        left:60px;}
        .pizzarow4obj4 {position:absolute;
        left:90px;}
        .pizzarow4obj5 {position:absolute;
        left:120px;}
        .pizzarow4obj6 {position:absolute;
        left:150px;}
        .pizzarow4obj7 {position:absolute;
        left:180px;}
        .pizzarow4obj8 {position:absolute;
        left:210px;}
        .pizzarow4obj9 {position:absolute;
        left:240px;}
        .pizzarow4obj10 {position:absolute;
        left:270px;}
        .pizzarow4obj11 {position:absolute;
        left:300px;}
        .pizzarow4obj12 {position:absolute;
        left:330px;}
        .pizzarow4obj13 {position:absolute;
        left:360px;}
        .pizzarow4obj14 {position:absolute;
        left:390px;}
            
        .pizzarow5 {position:relative;
        top:240px;
        left:0px;}

        .pizzarow5obj1 {position:absolute;
        left:0px;}
        .pizzarow5obj2 {position:absolute;
        left:30px;}
        .pizzarow5obj3 {position:absolute;
        left:60px;}
        .pizzarow5obj4 {position:absolute;
        left:90px;}
        .pizzarow5obj5 {position:absolute;
        left:120px;}
        .pizzarow5obj6 {position:absolute;
        left:150px;}
        .pizzarow5obj7 {position:absolute;
        left:180px;}
        .pizzarow5obj8 {position:absolute;
        left:210px;}
        .pizzarow5obj9 {position:absolute;
        left:240px;}
        .pizzarow5obj10 {position:absolute;
        left:270px;}
        .pizzarow5obj11 {position:absolute;
        left:300px;}
        .pizzarow5obj12 {position:absolute;
        left:330px;}
        .pizzarow5obj13 {position:absolute;
        left:360px;}

            .pizzarow6 {position:relative;
        top:270px;
        left:0px;}

        .pizzarow6obj1 {position:absolute;
        left:0px;}
        .pizzarow6obj2 {position:absolute;
        left:30px;}
        .pizzarow6obj3 {position:absolute;
        left:60px;}
        .pizzarow6obj4 {position:absolute;
        left:90px;}
        .pizzarow6obj5 {position:absolute;
        left:120px;}
        .pizzarow6obj6 {position:absolute;
        left:150px;}
        .pizzarow6obj7 {position:absolute;
        left:180px;}
        .pizzarow6obj8 {position:absolute;
        left:210px;}
        .pizzarow6obj9 {position:absolute;
        left:240px;}
        .pizzarow6obj10 {position:absolute;
        left:270px;}
        .pizzarow6obj11 {position:absolute;
        left:300px;}



            .pizzarow7 {position:relative;
        top:300px;
        left:0px;}

        .pizzarow7obj1 {position:absolute;
        left:0px;}
        .pizzarow7obj2 {position:absolute;
        left:30px;}
        .pizzarow7obj3 {position:absolute;
        left:60px;}
        .pizzarow7obj4 {position:absolute;
        left:90px;}
        .pizzarow7obj5 {position:absolute;
        left:120px;}
        .pizzarow7obj6 {position:absolute;
        left:150px;}
        .pizzarow7obj7 {position:absolute;
        left:180px;}
        .pizzarow7obj8 {position:absolute;
        left:210px;}
        .pizzarow7obj9 {position:absolute;
        left:240px;}
        .pizzarow7obj10 {position:absolute;
        left:270px;}
        .pizzarow7obj11 {position:absolute;
        left:300px;}


            .pizzarow8 {position:relative;
        top:330px;
        left:-30px;}

        .pizzarow8obj1 {position:absolute;
        left:0px;}
        .pizzarow8obj2 {position:absolute;
        left:30px;}
        .pizzarow8obj3 {position:absolute;
        left:60px;}
        .pizzarow8obj4 {position:absolute;
        left:90px;}
        .pizzarow8obj5 {position:absolute;
        left:120px;}
        .pizzarow8obj6 {position:absolute;
        left:150px;}
        .pizzarow8obj7 {position:absolute;
        left:180px;}
        .pizzarow8obj8 {position:absolute;
        left:210px;}
        .pizzarow8obj9 {position:absolute;
        left:240px;}
        .pizzarow8obj10 {position:absolute;
        left:270px;}
        .pizzarow8obj11 {position:absolute;
        left:300px;}


        .pizzarow9 {position:relative;
        top:360px;
        left:-30px;}

        .pizzarow9obj1 {position:absolute;
        left:0px;}
        .pizzarow9obj2 {position:absolute;
        left:30px;}
        .pizzarow9obj3 {position:absolute;
        left:60px;}
        .pizzarow9obj4 {position:absolute;
        left:90px;}
        .pizzarow9obj5 {position:absolute;
        left:120px;}
        .pizzarow9obj6 {position:absolute;
        left:150px;}
        .pizzarow9obj7 {position:absolute;
        left:180px;}
        .pizzarow9obj8 {position:absolute;
        left:210px;}
        .pizzarow9obj9 {position:absolute;
        left:240px;}
        .pizzarow9obj10 {position:absolute;
        left:270px;}


        .pizzarow10 {position:relative;
        top:360px;
        left:-30px;}

        .pizzarow10obj1 {position:absolute;
        left:0px;}
        .pizzarow10obj2 {position:absolute;
        left:30px;}
        .pizzarow10obj3 {position:absolute;
        left:60px;}
        .pizzarow10obj4 {position:absolute;
        left:90px;}
        .pizzarow10obj5 {position:absolute;
        left:120px;}
        .pizzarow10obj6 {position:absolute;
        left:150px;}
        .pizzarow10obj7 {position:absolute;
        left:180px;}
        .pizzarow10obj8 {position:absolute;
        left:210px;}
        .pizzarow10obj9 {position:absolute;
        left:240px;}
        .pizzarow10obj10 {position:absolute;
        left:270px;}



        .pizzarow11 {position:relative;
        top:390px;
        left:-30px;}

        .pizzarow11obj1 {position:absolute;
        left:0px;}
        .pizzarow11obj2 {position:absolute;
        left:30px;}
        .pizzarow11obj3 {position:absolute;
        left:60px;}
        .pizzarow11obj4 {position:absolute;
        left:90px;}
        .pizzarow11obj5 {position:absolute;
        left:120px;}
        .pizzarow11obj6 {position:absolute;
        left:150px;}
        .pizzarow11obj7 {position:absolute;
        left:180px;}
        .pizzarow11obj8 {position:absolute;
        left:210px;}
        .pizzarow11obj9 {position:absolute;
        left:240px;}


        .pizzarow12 {position:relative;
        top:420px;
        left:-30px;}

        .pizzarow12obj1 {position:absolute;
        left:0px;}
        .pizzarow12obj2 {position:absolute;
        left:30px;}
        .pizzarow12obj3 {position:absolute;
        left:60px;}
        .pizzarow12obj4 {position:absolute;
        left:90px;}
        .pizzarow12obj5 {position:absolute;
        left:120px;}
        .pizzarow12obj6 {position:absolute;
        left:150px;}
        .pizzarow12obj7 {position:absolute;
        left:180px;}
        .pizzarow12obj8 {position:absolute;
        left:210px;}
        .pizzarow12obj9 {position:absolute;
        left:240px;}

        .pizzarow13 {position:relative;
        top:450px;
        left:-30px;}

        .pizzarow13obj1 {position:absolute;
        left:0px;}
        .pizzarow13obj2 {position:absolute;
        left:30px;}
        .pizzarow13obj3 {position:absolute;
        left:60px;}
        .pizzarow13obj4 {position:absolute;
        left:90px;}
        .pizzarow13obj5 {position:absolute;
        left:120px;}
        .pizzarow13obj6 {position:absolute;
        left:150px;}
        .pizzarow13obj7 {position:absolute;
        left:180px;}
        .pizzarow13obj8 {position:absolute;
        left:210px;}

        .pizzarow14 {position:relative;
        top:480px;
        left:-30px;}

        .pizzarow14obj1 {position:absolute;
        left:0px;}
        .pizzarow14obj2 {position:absolute;
        left:30px;}
        .pizzarow14obj3 {position:absolute;
        left:60px;}
        .pizzarow14obj4 {position:absolute;
        left:90px;}
        .pizzarow14obj5 {position:absolute;
        left:120px;}
        .pizzarow14obj6 {position:absolute;
        left:150px;}
        .pizzarow14obj7 {position:absolute;
        left:180px;}



        .pizzarow15 {position:relative;
        top:510px;
        left:-30px;}

        .pizzarow15obj1 {position:absolute;
        left:0px;}
        .pizzarow15obj2 {position:absolute;
        left:30px;}
        .pizzarow15obj3 {position:absolute;
        left:60px;}
        .pizzarow15obj4 {position:absolute;
        left:90px;}
        .pizzarow15obj5 {position:absolute;
        left:120px;}
        .pizzarow15obj6 {position:absolute;
        left:150px;}


        .pizzarow16 {position:relative;
        top:540px;
        left:-30px;}

        .pizzarow16obj1 {position:absolute;
        left:0px;}
        .pizzarow16obj2 {position:absolute;
        left:30px;}
        .pizzarow16obj3 {position:absolute;
        left:60px;}
        .pizzarow16obj4 {position:absolute;
        left:90px;}
        .pizzarow16obj5 {position:absolute;
        left:120px;}

        .pizzarow17 {position:relative;
        top:570px;
        left:-30px;}

        .pizzarow17obj1 {position:absolute;
        left:0px;}
        .pizzarow17obj2 {position:absolute;
        left:30px;}
        .pizzarow17obj3 {position:absolute;
        left:60px;}
        .pizzarow17obj4 {position:absolute;
        left:90px;}

        .pizzarow18 {position:relative;
        top:600px;
        left:-30px;}

        .pizzarow18obj1 {position:absolute;
        left:0px;}
        .pizzarow18obj2 {position:absolute;
        left:30px;}
        .pizzarow18obj3 {position:absolute;
        left:60px;}



        .pizzarow19 {position:relative;
        top:630px;
        left:-30px;}
    
        .pizzarow19obj1 {position:absolute;
        left:0px;}